* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
  /* 禁止用户选择文本 */
  user-select: none;
  background: url('Image/icon1.png') no-repeat top fixed;
  background-size: 100%;
  color: #5A5A5A;
}

a {
    text-decoration: none;
    color: #D78A8A;
}

a:hover {
    color: #B5A5D6;
}

a:visited {
    color: #BBD1C7;
}

.div1 {
  margin-top: 220px;
  padding: 10px 3%;
  width: 100%;
  background: #FFFCF4;
  box-shadow: 0 -100px 50px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 1px;
  border-top-right-radius: 15px;
}

.div1 h1 {
  position: absolute;
  top: 185px;
  left: 2%;
  font-size: 45px;
  color: #D75D5D;
  margin: 0;
  line-height: 1;
}

.div1 .简介文本 {
  margin-bottom: 40px;
  font-size: 15px;
  color: #A9A9A9;
}

.textDiv {
  background: #F5F1E6;
  width: 85%;
  margin: auto;
  border-radius: 3px;
  padding: 10px 20px;
}

.textDiv p {
  margin: 0;
  color: #74726E;
}

.div1 .文本 {
  margin: 35px 7.5%;
}

.div1 .文本 samp {
  line-height: 50px;height: 120px;
  font-size: 25px;
}

.下载Div {
  margin-top: 70px;
  display: flex;
  flex-direction: column; /* 在小屏幕上垂直排列 */
  align-items: center; /* 水平居中对齐 */
}

.下载Div div {
  position: relative;
  width: 90%;
  min-height: 130px;
  margin: 18px 0;
  border-radius: 5px;
}

/* 下载块在大屏幕上的布局 */
@media (min-width: 768px) {
  .下载Div {
    flex-direction: row; /* 在大屏幕上水平排列 */
    flex-wrap: wrap; /* 允许子元素换行 */
  }

  .下载Div div {
    width: calc(33.333% - 20px); /* 在大屏幕上三个div并排，减去间距 */
    height: 140px;
    margin: 10px;
  }
}

.下载Div img {
  position: absolute;
  top: -15px;
  left: 10px;
  width: 80px;
  border-radius: 5px;
}

.下载Div button {
  position: absolute;
  top: 75px;
  width: 90px;
  height: 35px;
  font-size: 15px;
  border: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background: #FFFFFFBF;
  transition: .5s;
}

.下载Div button:hover {
    top: 70px;
    background: #FFFCF4;
    box-shadow: 1px 3px .5px rgba(0, 0, 0, 0.1);
}

.下载Div samp {
  position: absolute;
  top: -16px;
  left: 100px;
  font-size: 20px;
  white-space: nowrap;
  font-weight: 800;
}

.下载Div p {
  position: absolute;
  left: 100px;
  right: 14.5px;
  color: #FFFFFFBF;
  font-size: 15px;
}

.TextEditor {
  background: #BBD1C7;
}

.TextEditor-YF {
  background: #B5A5D6;
}

.历史版本 {
  background: #D78A8A;
}

.TextEditor button {
  color: #BBD1C7;
}

.TextEditor-YF button {
  color: #B5A5D6;
}

.历史版本 button {
  color: #D78A8A;
}
